---
import '../tailwind.css';
import FlipWords from '@components/Home/FlipWords.vue';
import BringYourOwnStyles from '@components/Home/BringYourOwnStyles.astro';
import InternationalReady from '@components/Home/InternationalReady.astro';
import ManagingForms from '@components/Home/ManagingForms.astro';
import BuiltInInteractions from '@components/Home/BuiltInInteractions.astro';
import A11yFirst from '@components/Home/A11yFirst.astro';
import StarterKits from '@components/Home/StarterKits.astro';
import Logo from '../assets/logo-grad.svg';
import SocialLinks from '@components/Home/SocialLinks.astro';
import GoogleAnalytics from '@components/GoogleAnalytics.astro';

const title = 'Formwerk - Build High-Quality Vue.js Form Components';
const description =
  'A collection of Vue.js composables for building forms with behaviors, interactions, internationalization, and accessibility built-in, ready for your markup and styles.';
---

<html lang="en-US">
  <head>
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Formwerk" />
    <meta
      name="keywords"
      content="vue, vuejs, forms, form components, form validation, accessibility, i18n, internationalization, composables"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://formwerk.dev/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://formwerk.dev/og-image.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://formwerk.dev/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://formwerk.dev/og-image.jpg"
    />

    <!-- Theme Color -->
    <meta name="theme-color" content="#059669" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
  </head>

  <body class="h-full w-full bg-zinc-900">
    <div class="flex items-center justify-center py-5 lg:justify-end lg:px-10">
      <SocialLinks />
    </div>

    <main
      class="not-content mx-auto flex max-w-4xl flex-col items-center py-20 lg:py-40"
    >
      <img src={Logo.src} alt="Formwerk" class="reveal h-10 lg:h-16" />

      <h1
        class="mt-6 text-balance text-center text-4xl font-bold lg:text-6xl lg:leading-tight"
      >
        <span class="heading-grad">Build</span>
        <FlipWords
          class="bg-gradient-to-b from-[#34e09c] to-[#02B361] bg-clip-text text-left text-transparent"
          words={[
            'High-Quality',
            'Scalable',
            'Accessible',
            'Consistent',
            'i18n-ready',
          ]}
          client:load
        />
        <br />
        <span class="heading-grad">Vue.js form components</span>
      </h1>

      <p
        class="mt-3 max-w-4xl text-balance text-center text-2xl font-medium text-zinc-400"
      >
        A suite of Vue.js composables designed to enhance your forms with
        built-in behaviors, interactions, internationalization, and
        accessibility, seamlessly integrating with your markup and styles.
      </p>

      <div class="mt-16 grid grid-cols-2 gap-4">
        <a
          class="rounded-full bg-emerald-600 px-5 py-3 text-center text-base font-semibold text-white transition-colors duration-500 hover:bg-emerald-700"
          href="/guides/getting-started"
        >
          Get started
        </a>

        <a
          class="rounded-full bg-zinc-700 px-5 py-3 text-center text-base font-semibold text-white transition-colors duration-500 hover:bg-zinc-800"
          href="/guides/composables"
        >
          Composables
        </a>
      </div>

      <BringYourOwnStyles />
      <A11yFirst />
      <InternationalReady />
      <BuiltInInteractions />
      <ManagingForms />
      <StarterKits />
    </main>

    <GoogleAnalytics />

    <footer class="flex items-center justify-center py-5 lg:px-10">
      <p class="text-center text-sm font-medium text-zinc-400">
        &copy; {new Date().getFullYear()} Formwerk. All rights reserved.
      </p>
    </footer>
  </body>
</html>

<style>
  @import 'https://cdn.jsdelivr.net/npm/tailwindcss@3.4.14/lib/css/preflight.min.css';

  html,
  body {
    height: 100%;
    width: 100%;
  }

  .reveal {
    opacity: 0;
    transform: translateY(-100%);
    animation: reveal 1s ease-in-out forwards;
  }

  @keyframes reveal {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<style is:global>
  section {
    @apply mt-20 w-full self-start px-5 pt-10 lg:px-0 lg:pt-20;

    h2,
    .heading-grad {
      @apply text-center text-3xl font-bold leading-tight lg:text-left lg:text-5xl lg:leading-tight;
    }

    .section-description {
      @apply mt-5 max-w-4xl text-xl font-medium text-zinc-400;
    }

    .preview-frame {
      @apply -right-0 bottom-4 mx-auto my-auto flex w-full min-w-[32%] flex-col items-center justify-center overflow-hidden rounded-lg border border-zinc-700 bg-zinc-800/60 lg:absolute lg:mx-0 lg:w-auto;

      .preview-frame-header {
        @apply w-full border-b border-zinc-700 bg-zinc-900 px-4 py-2 text-[13px] font-medium text-white;
      }

      .preview-frame-content {
        @apply p-8;
      }
    }

    .code-tab {
      @apply relative flex w-full flex-wrap gap-4;

      .expressive-code {
        @apply mx-auto w-full lg:mx-0 lg:!w-[70%];
      }
    }

    .expressive-code {
      @apply w-full lg:max-w-[680px];

      .frame.has-title:not(.is-terminal) {
        .header {
          @apply rounded-t-lg;
        }

        .title {
          @apply flex items-center gap-1.5 border-none bg-transparent px-4 py-3 text-[13px] font-bold text-zinc-300;

          &::before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='18' height='18'%3E%3Cpath fill='%2341b883' d='M24.4 3.925H30l-14 24.15L2 3.925h10.71l3.29 5.6l3.22-5.6Z'%3E%3C/path%3E%3Cpath fill='%2341b883' d='m2 3.925l14 24.15l14-24.15h-5.6L16 18.415L7.53 3.925Z'%3E%3C/path%3E%3Cpath fill='%2335495e' d='M7.53 3.925L16 18.485l8.4-14.56h-5.18L16 9.525l-3.29-5.6Z'%3E%3C/path%3E%3C/svg%3E");
            display: inline-block;
            width: 16px;
            height: 16px;
          }

          &::after {
            @apply hidden;
          }
        }
      }

      pre {
        @apply h-[380px] w-full overflow-hidden !rounded-b-lg !bg-zinc-900/85;

        code {
          @apply overflow-auto;
          scrollbar-width: thin;
          overflow-y: auto;
          overflow-y: overlay;
          scrollbar-color: rgb(63 63 70) transparent;
        }
      }

      .copy {
        @apply invisible;
      }
    }
  }

  button {
    touch-action: manipulation;
  }

  button[type='submit'] {
    @apply mt-2 rounded border-none bg-emerald-600 px-4 py-2 text-sm font-medium text-white hover:bg-emerald-800;
  }
</style>
